/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  src: url(./PressStart2P-Regular.woff) format("woff");
  font-family: "Press Start 2P";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url(./Inter-Variable.woff2) format("woff2 supports variations"),
    url(./Inter-Variable.woff2) format("woff2-variations");
  font-family: "Inter-Variable";
  font-weight: 400 785;
  font-display: swap;
}
