/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* BODY - PAGE */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--weight-main-text), "opsz" 0;
  /* font-variation-settings: "wght" var(--weight-main-text) "opsz" 0; */
  background-color: var(--background-color, #fff);
  color: var(--accent-color, #000);

  background-image: var(--background-liner-gradient);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  cursor: pointer;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  margin-block-start: 6.2em;
  min-width: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);

  border: 2px solid var(--accent-color, #000);
  background-color: var(--background-color, #fff);

  font-family: var(--accent-font, sans-serif);
  font-weight: 400;
  font-style: normal;
}

/* HEADER - Логотоп*/

.header__logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  padding-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-bottom: 0.3em;

  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-style: normal;
  line-height: 65px;
}

.header__heading {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 23px;
  font-weight: 400;
  text-transform: uppercase;
}

/* HEADER - Навигация*/

.theme-menu__list {
  margin-inline-start: 1em;
  padding: 1.5em;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.theme-menu__button {
  background-color: transparent;
  border: 1px solid transparent;
  appearance: none;
  text-transform: uppercase;
  transition: opacity 0.3s;

  position: relative;

  font-size: 14px;
  line-height: 14px;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;

  background-color: var(--accent-color, #000);
  transform: scaleX(0);
  transition: width 0.3s, background-color 0.3s;
}

/* Состояния кнопок в навигации */

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  transform: scaleX(1);
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 2px;
  left: -13px;
  opacity: 0.6;

  animation: arrow 0.5s infinite ease-in-out;
  animation-direction: alternate;
}

/* MAIN */

/* Контент */

.content {
  display: flex;
  flex-direction: column;
  gap: 41px;
  max-width: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  margin-block-start: 6em;
}

/* Карточка */

.card__container {
  display: flex;
  flex-direction: column;

  max-width: 100%;

  background-color: var(--background-color, #fff);
  border: 2px solid var(--accent-color, #000);
}

/* Заголовок */

.card__heading {
  font-variation-settings: "wght" var(--weight-main-heading);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 22px;

  padding: 0.4em 0 0.2em 0.5em;

  color: var(--accent-color, #000);
  background-color: var(--background-color, #fff);
  border-block-end: 2px solid var(--accent-color, #000);
}

/* Контейнер картинки */

.image__container {
  position: relative;
  max-width: 100%;

  border-block-end: 2px solid var(--accent-color, #000);
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Фильтры */

.filter-saturate-low {
  filter: saturate(20%);
}

.filter-saturate-high {
  filter: saturate(300%);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-invert {
  filter: invert(80%);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-blur {
  filter: blur(6px);
}

.filter-mix {
  filter: sepia(40%) contrast(50%) hue-rotate(90deg) saturate(200%) blur(2px);
}

.card__label {
  font-family: "Press Start 2P", fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: var(--accent-color, #000);

  mix-blend-mode: hard-light;
  opacity: 0.5;

  position: absolute;
  right: 25px;
  top: 25px;

  text-shadow: 1px 0 0 var(--color-stroke-text),
    -1px 0 0 var(--color-stroke-text), 0 1px 0 var(--color-stroke-text),
    0 -1px 0 var(--color-stroke-text);
}

@supports (
  (text-shadow: 1px var(--color-stroke-text)) or
    (-webkit-text-stroke: 1px var(--color-stroke-text))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--color-stroke-text);
    text-shadow: none;
  }
}

/* Контейнер описания */

.description__container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-block-start: 28px;
  margin-inline-start: 1.2em;
  max-width: 646px;

  font-weight: var(--weight-main-text);
  font-size: 18px;
  line-height: 21px;

  color: var(--accent-color, #000);
}

/* Контейнер кнопки heart и Like */

.container__card__button {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3px;

  margin-block-start: 1.8em;
  margin-block-end: 1.6em;
  margin-inline-end: 1.5em;
}

.container__card__button span {
  text-align: center;
}

/* Кнопка heart */

.heart__button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid transparent;
  background-color: var(--button-color-background, #fff);
  appearance: none;

  block-size: 38px;
  padding: 0;

  transition: border 0.3s ease;
}

.heart__button:focus {
  outline: none;
}

.heart__button:focus-visible {
  border: 2px solid var(--accent-color, #000);
}

/* SVG - Сердце */

.sparks {
  opacity: 0;
}

/* Состояние - Hover */

.core {
  fill: transparent;
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.like-icon:hover .core {
  fill: var(--contour-color, #000);
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color, #000);
  transition: fill 0.3s 0.05s linear;
}

/* Состояние - Active */

.like-icon:active .core {
  fill: var(--main-body-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--main-body-color, #ff0000);
  transition: fill 0.3s 0.05s linear;
}

/* Состояние - Клик по иконке */

.like-icon.is-liked .core {
  fill: var(--main-body-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--main-body-color, #ff0000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--main-body-color, #ff0000);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .hearth {
  animation-name: scaleHearth;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.like-icon.is-liked .sparks {
  animation-name: sparksHearth;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

/* Общий класс кнопок */

.button {
  position: relative;
  overflow: hidden;
  background-color: var(--button-color-background, #fff);
  appearance: none;
  border: 2px solid var(--accent-color, #000);
  transition: box-shadow 0.3s ease;
}

.button::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover {
  cursor: pointer;
}

.button:hover::after {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color, #000);
}

/* Кнопка Like */

.card__like-button {
  width: 130px;
  height: 38px;
}

/* Текст кнопки */

.button__text {
  font-family: "Press Start 2P", fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  text-align: center;

  position: relative;
  z-index: 1;
  mix-blend-mode: difference;

  color: var(--button-color-text, #fff);
}

/* Кнопка дискеты */

.card__save-button {
  inline-size: 341px;
  block-size: 58px;
  margin-block-start: 0.4em;
  margin-block-end: 80px;
  padding: 18.5px 21px 18.5px 19px;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 8px;

  color: var(--button-color-text, #fff);
}

.disket__icon {
  width: 21px;
  height: 21px;
  z-index: 1;
  mix-blend-mode: difference;
}

/* Модальное окно */

dialog {
  font-family: "Press Start 2P", fantasy;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;

  width: 357px;
  padding: 30px;
  background-color: var(--background-color, #fff);
  color: var(--accent-color, #000);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

dialog[open] {
  display: grid;
  grid-template-columns: minmax(auto, 39px) 232px;
  gap: 30px 20px;
  justify-content: center;
}

.disket__icon-modal {
  width: 39px;
  height: 39px;
  margin-block-start: 0.8em;

  fill: var(--accent-color, #000);
}

.close-button {
  width: 293px;
  height: 38px;

  text-transform: uppercase;
  background-color: var(--button-color-background, #fff);
  appearance: none;
  border: 2px solid var(--accent-color, #000);

  cursor: pointer;
}

/* Медиазапрос */

@media (width <= 375px) {
  .header {
    width: 100%;
  }

  .header__logo {
    padding: 2.3em 0 0.2em 0;
  }

  .theme-menu__list {
    padding: 0 0 1.2em 0.2em;
    margin-block-start: 1.2em;
  }

  .content {
    margin-block-start: 6.2em;
    gap: 44px;
  }

  .description__container {
    max-width: 0;
    min-width: 318px;
    margin-block-start: 25.500000000000085px;
  }

  .card__save-button {
    max-width: 311px;
    min-height: 89px;
    flex-direction: column;
    margin-block-start: -0.1em;
  }

  .disket__icon {
    width: 28px;
    height: 28px;
  }

  .card__label {
    right: 9px;
    top: 20px;
  }
}
